body{
    /* background-color: black; */
    /* background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2F736x%2Fda%2F44%2Fe6%2Fda44e6469141cdeef3e0a3bd9a9350f9--bowling-neon.jpg&f=1&nofb=1'); */
    /* background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2F736x%2F82%2Fa2%2F4f%2F82a24f00d57fc147c47f6260cb451edd.jpg&f=1&nofb=1'); */
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fih1.redbubble.net%2Fimage.772631138.8809%2Fflat%2C1000x1000%2C075%2Cf.u1.jpg&f=1&nofb=1');
}
#game {
    margin: auto;
    display: block;
    width: 60%;
    height: 700px;
    max-height: 1000px;
    min-height: 200px;
    border-style: solid;
    border-width: 1px;
    background-color: black;
    color: purple;
    font-size: 40px;
}
/* #container{
    width: 100%;
    height: 100%;
} */
#game .screen {
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
}
ul{
    list-style-type: none;
}

#game .screen.active {
    display: block;
}
#canvas{
    /* margin-top: 25px; */
    width: 100%;
    height: 100%;
}
#game h4{
    cursor: pointer;
    font-size: 35px;
}
#game h4:hover{
    color: darkgreen;
}
#game #creditsScreen{
    font-size: 24px;
}
#game #customizeControlsScreen h4{
    /* width: 10%; */
    font-size: 25px;
    display: inline-block;
}
#game .default:hover{
    color: black;
    cursor:default;
}